@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
	margin: 0;
}

/*PAGINA COMPLETA*/
body{
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #e5e5f7;
	background-image: url(../imgs/FONDO.JPG);
	background-size: 750px 700px;
	min-height: 100vh;
	padding: 90px 20px 0;
}

/*FORMULARIOS*/
#Form{
	background: linear-gradient(to top, rgb(115, 115, 115) 10%, lightgrey);
	margin: auto auto;
	width: 90%;
	max-width: 1000px;
	padding: 4.5em 3 em;
	border-radius: 15px;
	box-shadow: 0 20px 40px -5px rgb(0, 0, 0,60%);
}

.button{
	width: 90px;
	height: 45px;
}

/*FORMULARIO DE LOGIN*/
#login{
	background-color: lightgrey; 
	margin: auto auto;
	width: 90%;
	max-width: 500px;
	padding: 4.5em 3 em;
	border-radius: 15px;
	box-shadow: 0 20px 40px -5px rgb(0, 0, 0,60%);
}

/*LOGO*/
#Logo{
	/*font-size: 30px;*/
	height: 80px;
	width: 150px;
	/*font-weight: bold;*/
	/*padding: 0 40px;*/

}

.margin7{
	margin-bottom: 7px;
}

.componentes{

	border-bottom: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
}


/*ENCABEZADO*/
.header{
	height: 80px;
	background-color: rgb(0, 0, 100);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.header_menu{

	display: flex;
	justify-content: space-between;
}

 .nav-menu{
	margin-rigth: 40px;
	display: flex;
	list-style: none;
}

.header_menu > a,
.nav-menu > li > a,
.nav-menu > li > button,
.tituloshead{
	color: white;
	text-decoration: none;
	cursor: pointer;
	background: none;
	border: none;
}



.nav-menu > li{
	Font-size: 18px;
	margin: 45px 10px;
	width: max-content;
	height: 10px;
}
.nav-menu li:hover > ul{
	display: block;
	animation: 2s;
}
 
.nav-menu button :hover,
.nav-menu > li > a :hover,
.nav-menu li > b :hover,
.titulo :hover{
	padding-bottom: 3px;
	text-decoration: underline;
	/*transition: 0.5s;*/
}
.submenu{
	display: none;
	position: absolute;
	min-width: 140px;
}
.submenu li{
	list-style: none;
}

.submenu button{
	display: none;
	font-size: 18px;
	text-decoration: none;
	background-color: rgb(0, 0, 100);
	padding: 10px 15px;
	display: block;
	color: white;
	border: none;
	width: 130px;
}
 
.submenu button:hover{
	text-decoration: underline;
}

.nav-toggle{
	font-size: 30px;
	color: white;
	height: 50px;
	margin: 10px 0 0;
	background: none;
	border: none;
	display: none;
}


/*
.fila{
	background-color:#ffffcc;
}
.filaalterna{
	background-color:#ffcc99;
}
.fdg_sortable {
	cursor:pointer;text-decoration:underline;color:#00c;
}*/





/*DISPOSITIVOS MÓVILES*/
@media (max-width: 992px){
	/*LOGO*/
	#Logo{
		height: 70px;
	}

	/*ENCABEZADO*/
	.header{
		height: 70px;
	}

	.nav-menu{
		flex-direction: column;
		background-color: rgb(75, 75, 95);
		position: fixed;
		top: 70px;
		width: 100%;
		align-items: center;
		padding: 20px 0;
		height: calc(100% - 70px);
		overflow-y: auto;
		left: 100%;
		transition: left 0.5s;
	}
	.nav-menu li{
		margin-top: 10px;
	}
	.nav-toggle{
		display: block;
	}
	.header_menu_visible {
		left: 0;
	}
	.submenu button{
		background-color: rgb(50, 50, 70);
	}
	.submenu{
		flex-direction: column;
		background-color: rgb(50, 50, 70);
		position: fixed;
		left: 0;
		width: 100%;
		align-items: center;
		padding: 20px 0;

	}

}
